h1 {
    color:indigo;
    text-align:center;
}
img{
        border: 6px solid red;   
        padding:14px;
        width:480px;
        height:480px;  
        float:left;
    }
@media  screen and (min-width: 480px) and (max-width: 689px) { 
body {
    background-color: black;
    color:whitesmoke;
     }
}
@media screen and (min-width: 690px) {
body {
    background-color:orchid;
    color:black
}
.column {
    width: 480px;
    float: left;
    padding: 15px;
       }
}